* {
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center; 
}

h1 {
  font-size: 8em;
  color: #00aee6;
  margin-bottom: 3px;
  text-align: center; 
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

button {
  background-color: #00aee6;
  color: white;
  margin-left: -5px;
}

.js-search-form {
  display: flex;
  justify-content: center; 

  height: 50px;
}

.js-search-form > input {
  width: 450px;
  text-align: center;
} 

.js-search-form > button {
  width: 80px;
  font-size: 20px;
}

input {
  font-size: 20px;
}

.js-image {
  height: 500px;
  width: 500px;
}
